@media screen and (min-width: 768px) {
    .header-pc {
        display: block

    }

    .header-mobile {
        display: none
    }

    .label {
        z-index: 999;
        left: 0;
        width: 12em;
        margin-top: 0.4ch;
        background: rgba(8, 6, 6, 0.356);
        border-radius: 5px;
        font-family: 'Readex Pro', sans-serif;
        color: rgb(255, 255, 255);
        opacity: 0.85;
        border: 1px solid #000;
    }
}

@media screen and (max-width: 768px) {
    .header-pc {
        display: none
    }

    .header-mobile {
        display: block
    }

    .label {
        text-align: center;
        width: 100%;
        margin-bottom: 1.2ch;
        background: rgba(8, 6, 6, 0.356);
        border-radius: 5px;
        font-family: 'Readex Pro', sans-serif;
        opacity: 0.85;
        border: 1px solid #000;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    min-height: 100%;
    background: linear-gradient(45deg, #161616, #252527);
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 2rem;
    padding-bottom: 2rem;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.img-fluid.rounded {
    margin-bottom: 15px;
    width: 95%;
}

.image {
    max-width: 100%;
    border-radius: 15px;
}

.labcontainer {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    grid-template-columns: 32vw 32vw;
    grid-template-rows: 8vw;
}

.container {
    font-size: 3vw;
    white-space: nowrap;
    text-align: center;
    color: white;
    display: grid;
    grid-template-columns: 32vw 32vw;
    grid-template-rows: 8vw 32vw 32vw 8vw;
    gap: 0px 0px;
    grid-auto-flow: row;
}


@property --rotate {
    syntax: "<angle>";
    initial-value: 136deg;
    inherits: false;
}

:root {
    --card-width: 70vw;
    --card-height: calc(var(--card-width) / 2);
}

.card {
    background: #191c29;
    border-radius: 25px;
    width: var(--card-width);
    height: 20vw;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    font-size: 1.5em;
    color: rgb(88 199 250 / 0%);
    cursor: pointer;
    font-family: cursive;
}

.card:hover {
    color: rgb(88 199 250 / 100%);
    transition: color 1s;
}

.card::after {
    position: absolute;
    content: "";
    top: calc(var(--card-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 125%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--card-height) / 6));
    background-image: linear-gradient(
            var(--rotate), #5ddcff, #3c67e3 43%, #4e00c2);
    opacity: 1;
    transition: opacity .5s;
    animation: spin 2.5s linear infinite;
}

@keyframes spin {
    0% {
        --rotate: 0deg;
    }
    100% {
        --rotate: 360deg;
    }
}

.hidden {
    display: none
}